//Neutrals
$neutral-1: hsl(0, 0%, 10%);
$neutral-2: hsl(0, 0%, 20%);
$neutral-3: hsl(0, 0%, 30%);
$neutral-4: hsl(0, 0%, 40%);
$neutral-5: hsl(0, 0%, 50%);
$neutral-6: hsl(0, 0%, 60%);
$neutral-7: hsl(0, 0%, 70%);
$neutral-8: hsl(0, 0%, 80%);
$neutral-9: hsl(0, 0%, 90%);

//Primary
$primary-1: hsl(180, 100%, 10%);
$primary-2: hsl(180, 100%, 20%);
$primary-3: hsl(180, 100%, 30%);
$primary-4: hsl(180, 100%, 40%);
$primary-5: hsl(180, 100%, 50%);
$primary-6: hsl(180, 100%, 60%);
$primary-7: hsl(180, 100%, 70%);
$primary-8: hsl(180, 100%, 80%);
$primary-9: hsl(180, 100%, 90%);

//Secondary
$secondary-1: hsl(22, 100%, 10%);
$secondary-2: hsl(22, 100%, 20%);
$secondary-3: hsl(22, 100%, 30%);
$secondary-4: hsl(22, 100%, 40%);
$secondary-5: hsl(22, 100%, 50%);
$secondary-6: hsl(22, 100%, 60%);
$secondary-7: hsl(22, 100%, 70%);
$secondary-8: hsl(22, 100%, 80%);
$secondary-9: hsl(22, 100%, 90%);

//Surface
$surface-1: hsla(0, 0%, 10%, 0.5);
$surface-2: hsla(0, 0%, 20%, 0.5);
$surface-3: hsla(0, 0%, 30%, 0.5);
