<div class="title">
  <h1>Me contacter</h1>
  <p class="h1">Envoyez moi un message 🙋🏾‍♂️</p>
</div>
<div class="list-container single">
  <div class="border surface2 list">
    <div>
      <img class="border" ngSrc="assets/storyset/Emails-amico.svg" height="500" width="500" alt="Email">
      <a href="mailto:m.ndiaye@groupe-aen.info">Par email</a>
    </div>
    <div>
      <img class="border" ngSrc="assets/storyset/Connected%20world-amico.svg" height="500" width="500" alt="Linkedin">
      <a target="_blank" href="https://www.linkedin.com/in/ndiaye-malick-2000/">Sur Linkedin</a>
    </div>
    <div>
      <img class="border" ngSrc="assets/storyset/Portfolio-amico.svg" height="500" width="500" alt="Github">
      <a target="_blank" href="https://github.com/MalickNdiaye10">Via Github</a>
    </div>
  </div>
</div>
