<div id="menu">
  <a routerLink="" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
    Malick Ndiaye
  </a>
  <a (click)="Score('comp')" routerLink="competences" routerLinkActive="current">
    Compétences
  </a>
  <a (click)="Score('rea')" routerLink="realisations" routerLinkActive="current">Réalisations</a>
  <a (click)="Score('exp')" routerLink="experiences" routerLinkActive="current">Expériences</a>
  <a [routerLink]="maxedOut ? ['/contact'] : []" class="tooltip" [ngClass]="{'locked' : !maxedOut}">
    Contact
    <p class="tooltip-text border surface4" [ngClass]="{'hide' : maxedOut}">Score insuffisant</p>
  </a>
  <img class="border" (click)="toggleMenu()" ngSrc="assets/menu.svg" height="795" width="795" alt="Menu mobile">
</div>
<div id="score">
  <div id="score-texts">
    <p>Score: </p>
    <p>{{currentScore}} / {{maxScore}}</p>
  </div>
  <div id="score-bg">
    <div [ngClass]="{'full' : currentScore == maxScore}" id="score-bar"></div>
  </div>
</div>
