<div class="title">
  <h1>Malick NDIAYE</h1>
  <p class="h1 light">Etudiant en ingénierie logiciel</p>
</div>

<div class="border surface2 card">
  <img class="border" ngSrc="assets/background_desktop.webp" height="531" width="850">
  <div>
    <h2>A propos de moi</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>

<div class="border surface2 card reverse">
  <img class="border" ngSrc="assets/background_desktop.webp" height="531" width="850">
  <div>
    <h2>Mon projet professionnel</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>

<div class="list-container">
  <div class="border surface2 list">
    <h2>Mes valeurs</h2>
    <div>
      <img class="border" ngSrc="assets/background_desktop.webp" height="531" width="850"/>
      <p>Element</p>
    </div>
    <div>
      <img class="border" ngSrc="assets/background_desktop.webp" height="531" width="850"/>
      <p>Element</p>
    </div>
    <div>
      <img class="border" ngSrc="assets/background_desktop.webp" height="531" width="850"/>
      <p>Element</p>
    </div>
  </div>
  <div class="border surface2 list">
    <h2>Mes qualités</h2>
    <div>
      <img class="border" ngSrc="assets/background_desktop.webp" height="531" width="850"/>
      <p>Element</p>
    </div>
    <div>
      <img class="border" ngSrc="assets/background_desktop.webp" height="531" width="850"/>
      <p>Element</p>
    </div>
    <div>
      <img class="border" ngSrc="assets/background_desktop.webp" height="531" width="850"/>
      <p>Element</p>
    </div>
  </div>
  <div class="border surface2 list">
    <h2>Mes hobbies</h2>
    <div>
      <img class="border" ngSrc="assets/background_desktop.webp" height="531" width="850"/>
      <p>Element</p>
    </div>
    <div>
      <img class="border" ngSrc="assets/background_desktop.webp" height="531" width="850"/>
      <p>Element</p>
    </div>
    <div>
      <img class="border" ngSrc="assets/background_desktop.webp" height="531" width="850"/>
      <p>Element</p>
    </div>
  </div>
</div>

