<div class="title">
  <h1>Malick NDIAYE</h1>
  <p class="h1 light">Etudiant en ingénierie logiciel</p>
</div>

<div class="border surface2 card">
  <img class="border" ngSrc="../../../assets/images/malick.webp" height="795" width="795" alt="Malick Ndiaye">
  <div>
    <h2>A propos de moi</h2>
    <p>
      Etudiant en <strong>ingénierie logicielle</strong> à l'école <strong>IN'TECH Sud</strong>, je me suis orienté vers cette voie après l'obtention de mon <strong>baccalauréat Scientifique</strong>. Mon choix s'est porté sur l'Ingénierie du Logiciel (IL) en vue d'obtenir le diplôme d'<strong>Expert en Ingénierie du Logiciel</strong> (RNCP de niveau 1).
    </p>
    <p>
      Durant mon parcours, j'ai occupé le poste de <strong>développeur web</strong> en alternance chez <strong>Les Chamanes</strong> pendant ma 4e année d'études. J'ai eu l'opportunité d'acquérir une solide expérience grâce à plusieurs <strong>stages</strong> au sein d'entreprises locales. Mon dernier stage, d'une durée de 6 mois chez Les Chamanes, a été une étape clé de ma formation, me permettant de valider ma 3e année et d'accéder ensuite à l'alternance.
    </p>
  </div>
</div>

<div class="border surface2 card reverse">
  <img class="border" ngSrc="../../../assets/storyset/Portfolio-amico.svg" height="500" width="500" alt="Experience">
  <div>
    <h2>Mon Expérience</h2>
    <p>
      Avant d'intégrer l'université, j'ai fréquenté un <strong>collège bilingue</strong> où j'ai eu l'opportunité de perfectionner mon anglais lors d'un <strong>voyage d'études en Angleterre</strong>. Ainsi, je suis parfaitement <strong>bilingue</strong>.
    </p>
    <p>
      Pendant mon parcours à IN'TECH Sud, j'ai pu mettre en pratique mes compétences à travers des <strong>projets informatiques</strong> et des <strong>projets de communication</strong> réalisés chaque semestre, en collaboration avec des entreprises et des associations locales.
    </p>
  </div>
</div>

<div class="border surface2 card">
  <img class="border" ngSrc="../../../assets/storyset/Target-amico.svg" height="500" width="500" alt="Objectifs">
  <div>
    <h2>Mes objectifs</h2>
    <p>
      Je suis animé par le désir de partager et d'améliorer mes compétences au sein d'entreprises, tout en poursuivant mes études vers un <strong>master en ingénierie logicielle</strong>. Mon objectif est de continuer à parfaire mon expertise et de contribuer activement au domaine de l'ingénierie logicielle.
    </p>
    <p>
      Je suis passionné par l'innovation technologique et j'ai hâte de participer à des projets de grande envergure qui repoussent les limites de la technologie. En continuant mes études et en travaillant au sein d'équipes talentueuses, je suis déterminé à apporter des solutions créatives et efficaces aux défis de l'industrie du logiciel.
    </p>
  </div>
</div>

<div class="border surface2 card reverse">
  <img class="border" ngSrc="../../../assets/storyset/Timeline-amico.svg" height="500" width="500" alt="Projet">
  <div>
    <h2>Mon projet professionnel</h2>
    <p>
      En tant qu'ingénieur logiciel, je suis passionné par le développement de logiciels et d'applications, de la <strong>conception à la réalisation</strong>. Mon objectif à long terme est de créer des solutions logicielles complètes qui offrent une valeur indéniable aux clients.
    </p>
    <p>
      Je souhaite travailler sur des <strong>projets variés</strong>. Grâce à mon expérience polyvalente, j'apporte une valeur ajoutée en facilitant la collaboration entre les équipes de conception et de développement. Dans mon parcours professionnel, je vise à renforcer mes compétences en <strong>gestion de projet</strong> et à développer mes capacités de leadership.
    </p>
  </div>
</div>

<div class="list-container">
  <div class="border surface2 list">
    <h2>Mes valeurs</h2>
    <div>
      <img class="border" ngSrc="../../../assets/storyset/Curious-amico.svg" height="500" width="500" alt="Curiosité"/>
      <p>La curiosité</p>
    </div>
    <div>
      <img class="border" ngSrc="../../../assets/storyset/International%20trade-amico.svg" height="500" width="500" alt="Respect"/>
      <p>Le respect</p>
    </div>
    <div>
      <img class="border" ngSrc="../../../assets/storyset/agile%20method-amico.svg" height="500" width="500" alt="Rigueur"/>
      <p>La rigueur</p>
    </div>
  </div>
  <div class="border surface2 list">
    <h2>Mes qualités</h2>
    <div>
      <img class="border" ngSrc="../../../assets/storyset/Soft%20skills-amico.svg" height="500" width="500" alt="Adaptabilité"/>
      <p>L'adaptabilité</p>
    </div>
    <div>
      <img class="border" ngSrc="../../../assets/storyset/Freelancer-amico.svg" height="500" width="500" alt="Autonomie"/>
      <p>L'autonomie</p>
    </div>
    <div>
      <img class="border" ngSrc="../../../assets/storyset/afterwork-amico.svg" height="500" width="500" alt="Passion"/>
      <p>La passion</p>
    </div>
  </div>
  <div class="border surface2 list">
    <h2>Mes hobbies</h2>
    <div>
      <img class="border" ngSrc="../../../assets/storyset/Recording%20a%20movie-amico.svg" height="500" width="500" alt="Art"/>
      <p>L'art</p>
    </div>
    <div>
      <img class="border" ngSrc="../../../assets/storyset/Basketball-amico.svg" height="500" width="500" alt="Sport"/>
      <p>Le sport</p>
    </div>
    <div>
      <img class="border" ngSrc="../../../assets/storyset/Honeymoon-amico.svg" height="500" width="500" alt="Voyage"/>
      <p>Le voyage</p>
    </div>
  </div>
</div>

