@media (max-width: 960px) {
  html{
    background-size: cover;
    background-image: url("../../assets/backgrounds/background_mobile.webp");

    body{
      app-root{
        & > *{
          width: 100%;
        }

        &>:not(app-navbar, router-outlet) {
          gap: 32px;
          padding-block: 32px;
        }

        app-navbar{
          bottom: 0;

          #menu {
            padding-inline: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > a:is(.current){
              text-align: unset;
            }

            & > a:not(.current) {
              display: none;
            }
            & > img{
              height: 44px;
              width: 44px;
            }
          }
        }

        .card{
          flex-direction: column;
          margin-inline: 32px;
        }

        .list-container {
          flex-direction: column;

          .list{
            margin-inline: 32px;
          }
        }
      }
    }
  }
}
