@import "../atoms/colors";

app-navbar, app-score > div, #score-bg, #score-bar.full{
  border-radius: 0 0 8px 0 !important;
}

app-navbar{
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
  position: sticky;
  width: 100%;
  z-index: 1;

  #menu, #score{
    display: flex;
    justify-content: space-evenly;
  }

  #menu{
    padding-inline: 128px;

    a{
      text-align: center;
      width: 128px;
    }
  }

  #score{
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-top: 0 !important;
    display: flex;
    flex-direction: column;

    #score-texts{
      display: flex;
      gap: 8px;
      justify-content: center;
      padding-block: 10px;
    }

    #score-bg, #score-bar{
      height: 8px;
    }

    #score-bg{
      background-color: $neutral-9;
    }

    #score-bar{
      background-color: $primary-4;
      transition: 0.5s linear;
      width: 64px;
    }
  }
}
