app-navbar{
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  border-radius: 0 0 8px 8px !important;
  display: flex;
  justify-content: space-evenly;
  padding-block: 16px;
  width: 100%;
}
