.card{
  align-items: center;
  display: flex;
  gap: 32px;
  padding: 32px;

  img{
    height: 192px;
    width: 192px;
  }

  div{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.list-container{
  display: flex;
  gap: 32px;
  justify-content: space-between;
  width: 100%;

  .list{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;

    div{
      align-items: center;
      display: flex;
      gap: 24px;

      img{
        height: 96px;
        width: 96px;
      }
    }
  }

  &.single{
    justify-content: center;

    .list{
      width: fit-content;
    }
  }
}
