@import
"partials/responsive/desktop",
"partials/responsive/mobile",
"partials/atoms/colors",
"partials/atoms/effects",
"partials/atoms/text",
"partials/atoms/effects",
"partials/molecules/components",
"partials/molecules/elements"
;

html{
  display: flex;
  min-height: 100%;
  width: 100%;

  body{
    background-color: $surface-1;
    margin: 0;
    min-height: 100%;
    width: 100%;

    app-root{
      display: flex;
      flex-direction: column;

      &>:not(app-navbar, router-outlet){
        display: flex;
        flex-direction: column;
      }
    }
  }
}
