@media (min-width: 960px) {
  html {
    background-attachment: fixed;
    background-image: url("../../assets/backgrounds/background_desktop.webp");
    background-size: cover; }
    html body app-root > :not(app-navbar, router-outlet) {
      gap: 64px;
      padding-block: 64px;
      width: 896px; }
    html body app-root app-navbar #menu > img {
      display: none; } }
@media (max-width: 600px) {
  html {
    background-size: cover;
    background-image: url("../../assets/backgrounds/background_mobile.webp"); }
    html app-navbar #menu {
      padding-inline: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      html app-navbar #menu > a:is(.current) {
        text-align: unset; }
      html app-navbar #menu > a:not(.current) {
        display: none; }
      html app-navbar #menu > img {
        height: 44px;
        width: 44px; }
    html app-home {
      display: none; } }
.bg-blur {
  backdrop-filter: blur(12px); }

.border {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px; }
  .border img {
    border: transparent; }

.surface2 {
  background-color: rgba(23, 28, 28, 0.5); }

.surface3 {
  background-color: rgba(46, 56, 56, 0.9); }

.surface4 {
  background-color: #2e3838; }

html {
  font-family: Montserrat, sans-serif;
  font-size: 62.5%; }
  html a, html p {
    color: #e3e8e8;
    font-size: 1.6em;
    line-height: 1.4em; }
  html h2, html .h2 {
    font-size: 1.92em; }
  html h1, html .h1 {
    font-size: 2.3em; }
  html h1, html h2 {
    color: #99ffff; }
  html a {
    text-decoration: none;
    color: #ffbe99; }
    html a:hover {
      opacity: 0.8;
      cursor: pointer; }
    html a:active {
      opacity: 0.6; }
    html a.current {
      color: #99ffff;
      pointer-events: none; }
  html p, html a, html h1, html h2 {
    margin: unset;
    text-align: justify; }
  html .regular {
    font-weight: 400; }
  html .light {
    font-weight: 200; }
  html .bold {
    font-weight: 600; }
  html .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; }
  html .locked {
    color: #ffbe99 !important;
    opacity: 0.6;
    pointer-events: all !important; }
  html .tooltip {
    position: relative; }
    html .tooltip .tooltip-text {
      font-size: 16px;
      left: calc(100% + 16px);
      padding-block: 8px;
      padding-inline: 16px;
      position: absolute;
      text-align: center;
      visibility: hidden;
      z-index: 2; }
    html .tooltip:hover .tooltip-text {
      visibility: visible; }

.bg-blur {
  backdrop-filter: blur(12px); }

.border {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px; }
  .border img {
    border: transparent; }

.surface2 {
  background-color: rgba(23, 28, 28, 0.5); }

.surface3 {
  background-color: rgba(46, 56, 56, 0.9); }

.surface4 {
  background-color: #2e3838; }

app-navbar, app-score > div, #score-bg, #score-bar.full {
  border-radius: 0 0 8px 0 !important; }

app-navbar, app-score {
  position: sticky;
  z-index: 1; }

app-navbar {
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
  top: 0;
  width: 100%; }
  app-navbar #menu, app-navbar #score {
    display: flex;
    justify-content: space-evenly; }
  app-navbar #menu {
    padding-inline: 128px; }
    app-navbar #menu a {
      text-align: center;
      width: 128px; }
  app-navbar #score {
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-top: 0 !important;
    display: flex;
    flex-direction: column; }
    app-navbar #score #score-texts {
      display: flex;
      gap: 8px;
      justify-content: center;
      padding-block: 10px; }
    app-navbar #score #score-bg, app-navbar #score #score-bar {
      height: 8px; }
    app-navbar #score #score-bg {
      background-color: #e3e8e8; }
    app-navbar #score #score-bar {
      background-color: #00cccc;
      transition: 0.5s linear;
      width: 64px; }

.card {
  align-items: center;
  display: flex;
  gap: 32px;
  padding: 32px; }
  .card.reverse {
    flex-direction: row-reverse; }
  .card img {
    height: 192px;
    width: 192px; }
  .card div {
    display: flex;
    flex-direction: column;
    gap: 16px; }

.list-container {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  width: 100%; }
  .list-container .list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    width: 100%; }
    .list-container .list div {
      align-items: center;
      display: flex;
      gap: 24px; }
      .list-container .list div img {
        height: 96px;
        width: 96px; }
  .list-container.single {
    justify-content: center; }
    .list-container.single .list {
      width: fit-content; }

html {
  display: flex;
  min-height: 100%;
  width: 100%; }
  html body {
    background-color: rgba(23, 28, 28, 0.5);
    margin: 0;
    min-height: 100%;
    width: 100%; }
    html body app-root {
      align-items: center;
      display: flex;
      flex-direction: column; }
      html body app-root > :not(app-navbar, router-outlet) {
        display: flex;
        flex-direction: column;
        gap: 64px;
        padding-block: 64px;
        width: 896px; }
      html body app-root .hide {
        display: none; }

/*# sourceMappingURL=styles.css.map */
